<div ng-controller="TaskController">
	<div class="task-outer">
		<div class="task-wrap">
		
			<div class="task-inner">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-sm-1"></th>
						<th class="col-sm-6"></th>
						<th class="col-sm-2"></th>
						<th class="col-sm-3"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><label for="sendName" class="control-label">发货姓名:</label></td>
						<td><input ng-model="sendName" type="text" class="form-control" id="sendName" placeholder="请输入名字"  required="required"></td>
						<td><label for="sendTelephone" class="control-label">发货人联系方式:</label></td>
						<td><input ng-model="sendTelephone" type="text" class="form-control" id="sendTelephone" placeholder="请输入电话号码"  required="required"></td>
					</tr>
					
					<tr>
						<td><label for="sendAddress" class="control-label">始发地址:</label></td>
						<td>
							<form class="form-inline">
							  <div data-toggle="distpicker">
								<div class="form-group">
								  <label class="sr-only" for="province">Province</label>
								  <select class="form-control" id="province" ng-model="sendProvince"></select>
								</div>
								<div class="form-group">
								  <label class="sr-only" for="city">City</label>
								  <select class="form-control" id="city" ng-model="sendCity"></select>
								</div>
								<div class="form-group">
								  <label class="sr-only" for="district">District</label>
								  <select class="form-control" id="district" ng-model="sendDistrict"></select>
								</div>
							  </div>
							</form>
						</td>
						<td><label for="sendAddress" class="control-label">始发具体地址:</label></td>
						<td><input ng-model="sendDetailAddress" type="text" class="form-control" id="detailAddress" placeholder="具体地址"  required="required"></td>
					</tr>
					
					<tr>
						<td><label for="reciveName" class="control-label">收货姓名:</label></td>
						<td><input ng-model="reciveName" type="text" class="form-control" id="reciveName" placeholder="请输入名字"  required="required"></td>
						<td><label for="reciveTelephone" class="control-label">收货人联系方式:</label></td>
						<td><input ng-model="reciveTelephone" type="text" class="form-control" id="reciveTelephone" placeholder="请输入电话号码"  required="required"></td>
					</tr>
					
					<tr>
						<td><label for="reciveAddress" class="control-label">收货地址:</label></td>
						<td>
							<form class="form-inline">
							  <div data-toggle="distpicker">
								<div class="form-group">
								  <label class="sr-only" for="province">Province</label>
								  <select class="form-control" id="province" ng-model="reciveProvince"></select>
								</div>
								<div class="form-group">
								  <label class="sr-only" for="city">City</label>
								  <select class="form-control" id="city" ng-model="reciveCity"></select>
								</div>
								<div class="form-group">
								  <label class="sr-only" for="district">District</label>
								  <select class="form-control" id="district" ng-model="reciveDistrict"></select>
								</div>
							  </div>
							</form>
						</td>
						<td><label for="detailAddress" class="control-label">收货具体地址:</label></td>
						<td><input ng-model="receiveDetailAddress" type="text" class="form-control" id="receiveDetailAddress" placeholder="具体地址"  required="required"></td>
					</tr>
					
					<tr>
						<td><label class="control-label">货物类型:</label></td>
						<td>
							<select ng-model="goodsType" class="form-control">
								<option value="食品饮料">食品饮料</option>
								<option value="蔬菜水果">蔬菜水果</option>
								<option value="电子电器">电子电器</option>
								<option value="农资粮食">农资粮食</option>
								<option value="化工产品">化工产品</option>
								<option value="日用百货">日用百货</option>
								<option value="汽修配件">汽修配件</option>
								<option value="药品">药品</option>
							</select>
						</td>
						<td><label class="control-label">货运量:</label></td>
						<td>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="weight"  required="required">
								<span class="input-group-addon">吨</span>
							</div>
						</td>
					</tr>
					
					<tr>
						<td><label class="control-label">车辆类型:</label></td>
						<td><input ng-click="showCarList()" ng-model="carInfo" type="text" class="form-control" placeholder="点击选择车辆类型"></td>
						<td><label ng-show="driverShow" class="control-label">驾驶人:</label></td>
						<td><input ng-click="showUserList()" ng-show="driverShow" ng-model="driverName" type="text" class="form-control" placeholder="点击选择驾驶人"></td>
					</tr>
					
					<tr>
						<td></td>
						<td></td>
						<td><label class="control-label">实际费用:</label></td>
						<td>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="cost"  required="required">
								<span class="input-group-addon">元</span>
							</div>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><button ng-click="createTask()" type="button" class="btn btn-info">创建任务单</button></td>
					</tr>
					
				</tbody>
			</table>
			
			<div class="modal" id="carModal">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">选择车辆</h4>
						</div>
						
						<table class="table table-hover">
							<thead>
								<tr>
									<th>车牌号</th>
									<th>容量（吨）</th>
									<th>车辆类型</th>
									<th>所属类型</th>
									<th>所属人</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								
								<tr ng-repeat="car in carList">
									<td>{{car.carNumber}}</td>
									<td>{{car.capacity}}</td>
									<td>{{car.carType}}</td>
									<td>{{car.belongType}}</td>
									<td>{{car.carrierName}}</td>
									<td><button ng-click="selectCar(car)" class="btn btn-success" data-dismiss="modal">选择</button></td>
								</tr>
								
							</tbody>
						</table>
						
						<div class="modal-footer">
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div class="modal" id="userModal">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">选择驾驶员</h4>
						</div>
						
						<table class="table table-hover">
							<thead>
								<tr>
									<th>姓名</th>
									<th>联系方式</th>
									<th>身份证号</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								
								<tr ng-repeat="user in userList">
									<td>{{user.username}}</td>
									<td>{{user.telephone}}</td>
									<td>{{user.IDcard}}</td>
									<td><button ng-click="selectUser(user)" class="btn btn-success" data-dismiss="modal">选择</button></td>
								</tr>
								
							</tbody>
						</table>
						
						<div class="modal-footer">
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			</div>
			
		</div>
	</div>
</div>